@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
@Html.DropDownList("SelectWeatherStation", ViewBag.WeatherStationList as SelectList, new {@disabled = "disabled", @class = "form-control" })
<h3>Obecna temperatura wynosi @ViewData["Temperature"] &#176;C</h3>
<div>
<script>
    $("#SelectWeatherStation").change(function () {
        var strSelected = "";
        $("#SelectWeatherStation option:selected").each(function () {
            strSelected += $(this)[0].value;
        });
        var url = "/Home/Index/" + strSelected;
        location.href = url;
    });
</script>