@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
@Html.DropDownList("SelectWatherStation", ViewBag.WatherStationList as SelectList, new {@disabled = "disabled", @class = "form-control" })
<h3>Obecna teperatura wynosi @ViewData["Temperature"] &#176;C</h3>
<div>
<script>
    $("#SelectWatherStation").change(function () {
        var strSelected = "";
        $("#SelectWatherStation option:selected").each(function () {
            strSelected += $(this)[0].value;
        });
        var url = "/Home/Index/" + strSelected;
        location.href = url;
    });
</script>