@using(Html.BeginForm()){
  <div class="form-group">
    @Html.Label("ExternalKey")
    @Html.TextBox("ExternalKey",null, new { @class="form-control"}) 
  </div>
  <div class="form-group">
    @Html.Label("Temperature")
    @Html.TextBox("Temperature",null, new { @class="form-control"}) 
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
}
